# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Database
moodify_db/

# Static data
static/face.jpg
static/face.png
static/uploads/

# Training data and logs
data/
*.log
tryout.*
.ipynb_checkpoints/
